<p id="notice"><%= notice %></p>

<h1>Siyasi Partiler</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Parti Adı</th>
      <th>Kısaltma</th>
      <th>Kuruluş Tarihi</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parties.each do |party| %>
      <tr>
        <td><%= party.name %></td>
        <td><%= party.shortname %></td>
        <td><%= party.establishdate %></td>
        <td><%= party.logo %></td>
        <td><%= link_to 'Ayrıntılar', party %></td>
        <td><%= link_to 'Düzenle', edit_party_path(party) %></td>
        <td><%= link_to 'Sil', party, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Yeni Parti Ekle', new_party_path %>
