<%= form_with(model: mp, local: true) do |form| %>
  <% if mp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mp.errors.count, "error") %> prohibited this mp from being saved:</h2>

      <ul>
        <% mp.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :name2 %>
    <%= form.text_field :name2 %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate, options = { :start_year => 1850 } %>
  </div>

  <div class="field">
    <%= form.label :deaddate %>
    <%= form.date_select :deaddate, options = { :start_year => 1850 }
                                                %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>

  <div>    
    <%= form.collection_select :party_ids, @party.all, :id, :name, {}, {multiple: true} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
