<%= form_with(model: mp, local: true) do |form| %>
  <% if mp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mp.errors.count, "error") %> prohibited this mp from being saved:</h2>

      <ul>
        <% mp.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group bg-light">
    <div class="form-row">
      <div class="field col-md-4">
        <%= form.label :name, "Ad" %>
        <%= form.text_field :name, :class => "form-control" %>
      </div>

      <div class="field col-md-4">
        <%= form.label :name2, "Diğer Ad" %>
        <%= form.text_field :name2,  :class => "form-control" %>
      </div>

      <div class="field col-md-4">
        <%= form.label :surname, "Soyad" %>
        <%= form.text_field :surname,  :class => "form-control" %>
      </div>
    </div>
    <div class="form-row">
      <div class="field col-md-4">
        <%= form.label :gender, "Cinsiyet" %>        
        <%#= form.text_field :gender, :class => "form-control" %>
        <%= form.select :gender, ['Erkek', 'Kadın'], { include_blank: true }, class: "form-control" %>
        <%#= form.select :gender, options_for_select([['Erkek', 'Erkek'], ['Kadın', 'Kadın']], form.object.gender) , { include_blank: true } %>
      </div>
     
       <div class="field col-md-4">
        <%= form.label :birthdate %>
        <%= form.date_select :birthdate, options = { :start_year => 1850 },  :class => "form-control" %>
      </div>

      <div class="field col-md-4">
        <%= form.label :deaddate %>
        <%= form.date_select :deaddate, options = { :start_year => 1850, include_blank: true, default: nil }, :class => "form-control"%>
      </div>
    </div>

    <div class="field">
      <%= form.label :detail %>
      <%= form.text_area :detail, :class => "form-control" %>
    </div>

    <div>    
      <%= form.collection_select :party_id, @mp.parties, :id, :name,  {}, {multiple: false}%>
    </div>

    <div class="actions ">
      <%= form.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
