<p id="notice"><%= notice %></p>

<h1>Vekiller</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Ad</th>
      <th scope="col">İkinci Ad</th>
      <th scope="col">Soyad</th>
      <th scope="col">Cinsiyet</th>
      <th scope="col">Doğum Tarihi</th>
      <th scope="col">Ölüm Tarihi</th>
      <th scope="col">Özgeçmiş</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @mps.each do |mp| %>
      <tr>
        <td><%= mp.name %></td>
        <td><%= mp.name2 %></td>
        <td><%= mp.surname %></td>
        <td><%= mp.gender %></td>
        <td><%= mp.birthdate %></td>
        <td><%= mp.deaddate %></td>
        <td><%= mp.detail[0..30]+"..." %></td>
        <td><%= link_to 'Ayrıntılar', mp %></td>
        <td><%= link_to 'Düzenle', edit_mp_path(mp) %></td>
        <td><%= link_to 'Sil', mp, method: :delete, data: { confirm: 'Emin misiniz?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Yeni Vekil Ekle', new_mp_path %>
