<div class="form-group bg-light">
<%= form_with(model: period, local: true) do |form| %>
  <% if period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(period.errors.count, "error") %> prohibited this period from being saved:</h2>

      <ul>
        <% period.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-md-12">
    <%= form.label :name, "Ad" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field col-md-2">
    <%= form.label :startdate, "Başlama Tarihi" %>
    <%= form.date_select :startdate, options = { :start_year => 1900 }, class: "form-control" %>
  </div>

  <div class="field col-md-2">
    <%= form.label :enddate, "Bitiş Tarihi" %>
    <%= form.date_select :enddate, options = { :start_year => 1900}, class: "form-control" %>
  </div>
  <br>
  <div class="field actions col-md-2 form-button">
    <%= form.submit %>
  </div>
  <br>
<% end %>
</div>