<h1>Yasama Bilgileri (Seçimler)</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">İl</th>
			<th scope="col">İlin diğer adı</th>
			<th scope="col">Adı</th>
			<th scope="col">Diğer adı</th>
			<th scope="col">Soyadı</th>
			<th scope="col">Cinsiyet</th>
			<th scope="col">Özgeçmiş</th>
			<th scope="col">Doğum T.</th>			
			<th scope="col">Ölüm T.</th>
			<th scope="col">Yasama Dönemi</th>
			<th scope="col">Başlangıç T.</th>
			<th scope="col">Bitiş T.</th>				


		</tr>
	</thead>
	<br>
<% @elections.each do |e| %> 
<tr>
	<td><%= e.province %></td>
	<td><%= e.other_province_name %></td>
	<% mp = @mp.find(e.mp_id) %>
	<td><%= link_to mp.name, mp %></td>
	<td><%= link_to mp.name2, mp %></td>
	<td><%= link_to mp.surname, mp %></td>
	<td><%= link_to mp.gender, mp %></td>
	<td><%= link_to mp.detail[0..50]+"...", mp %></td>
	<td><%= link_to mp.birthdate.year, mp %></td>
	<td><%= link_to mp.deaddate.year, mp %></td>

	
	<% period = @period.find(e.period_id) %>

	<td><%=period.name%></td>
	<td><%=period.startdate%></td>
	<td><%=period.enddate%></td>
	<td>Ayrıntılar</td>

</tr>
<% end %>
</table>