<!DOCTYPE html>
<html>
  <head>
    <title>Mebusara</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: orange;">
    <div class="collapse navbar-collapse">
      <tr>
        <ul class="navbar-nav nav-pills">
        <li class="nav-item">
          <%= link_to "Anasayfa", :root, :class => "nav-link" %></li> 
          <td><%= link_to "Vekiller", :mps,  :class => "nav-link" %> </td>
          <td><%= link_to "Partiler", :parties, :class => "nav-link" %></td>
        <td><%= link_to "Yasama Dönemleri", :periods,  :class => "nav-link" %></td>
        <td><%= link_to "Proje Hakkında", :about_index,  :class => "nav-link" %></td> 
        <td><a href="#" class="nav-link">Sorular</a></td>
        </ul>
      </tr>
    </div>
  </nav>
  <body class="">
    <div class="container">
    
    <%= yield %>
    </div>
  </body>
</html>
